version: '3'
services:
  spark:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/home/jovyan/code
      - ../data:/home/jovyan/data
      - ../notebooks:/home/jovyan/notebooks
      - ../logs:/home/jovyan/code/logs
    ports:
      - "8888:8888"
      - "4040:4040"
    command: start.sh jupyter notebook --NotebookApp.token='' --NotebookApp.disable_check_xsrf=true --NotebookApp.allow_origin='*' --NotebookApp.ip='0.0.0.0'
